# --- Postgres Configuration ---
POSTGRES_URL=jdbc:postgresql://postgres:5432/airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DRIVER=org.postgresql.Driver

# Docker Compose Variables
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5433 # Avoid Conflict with local Postgres
POSTGRES_DB=airflow
POSTGRES_SCHEMA=public

# --- Airflow Core  ---
AIRFLOW_UID=50000
# AIRFLOW__CORE__EXECUTOR=LocalExecutor
# AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow

# Docker Compose Variables
AIRFLOW_PROJ_DIR=.
AIRFLOW_WWW_USER_USERNAME=airflow
AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_API_SERVER_PORT=8080

# --- S3 / MinIO Configuration ---
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin123
S3_BUCKET_NAME=crypto-data
# Docker Compose Variables
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

_PIP_ADDITIONAL_REQUIREMENTS=boto3